<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="home_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="logo"></div>
    <div class="search">
        <input class="zoom" type="text">
        <div class="zoom"></div>
    </div>
    <div class="icons">
        <div class="icon explore"></div>
        <div class="icon likes"></div>
        <div class="icon timeline"></div>
    </div>
</div>
</body>
</html>