<!DOCTYPE html>
<html>
<head>
<title>salam</title>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body lang="en">
<div class="fixed"></div>
<div class="absol">Forget?</div>
<div class="login">
<form autocomplete="off" method="post" >
<!--<div class="hello">-->
    <!--<p>-->
        <!--Hello, World!-->
    <!--</p>-->
    <!--<p>Salaaaaam :))))))</p>-->
<!--</div>-->
<!--<div class="circle">-->

<!--</div>-->
    <div class="form-img">
        <!--<img src="photo_2016-10-26_11-39-24.jpg">-->
    </div>
    <p>
        Sign up to see photos and videos
        from your friends.
    </p>


<input placeholder="Email" type="text">
    <a class="forget" href="#">Forget?</a>
<input placeholder="Password" type="password" >
<button>
    Log In
</button>
</form>

</div>
<!--<input type="file">-->
<div class="signup">
    <p>Don't have an account? <a href="#">Sign Up</a> </p>
</div>
<div class="app">
    Get the app
    <div class="dl"></div>
</div>
</body>
</html>